{% extends "master.html" %}

{% block title %}
    Detalhes sobre {{ fabricante.nome }}
{% endblock %}


{% block content %}

<div class="card mt-2">
  <div class="card-header">
    Detalhes sobre {{ fabricante.nome }}
  </div>

  <div class= "card-body">
    <h1>{{ fabricante.nome }}</h1>

    <p>Endereço: {{ fabricante.endereco }}</p>
    <p>Email: {{ fabricante.email }}</p>
    <p>Telefone: {{ fabricante.telefone }}</p>
    <p>Tipo do produto fabricado: {{ fabricante.tipo }}</p>

  </div>
</div>

{% endblock %}   