{% extends "master.html" %}

{% block title %}
    Detalhes sobre {{ fabricante.nome }}
{% endblock %}


{% block content %}

  <p><a href='/'>HOME - Loja de Computadores</a></p>
  <h1>{{ fabricante.nome }}</h1>
  <hr color="blue" size="3" style="border-style: dashed;">

  <p>Endreço: {{ fabricante.endereco }}</p>
  <p>Email: {{ fabricante.email }}</p>
  <p>Telefone: {{ fabricante.telefone }}</p>

  <hr color="blue" size="3" style="border-style: dashed;">
  <p>Back to <a href='/fabricantes'>Fabricantes</a></p>

{% endblock %}   